.developers-background {
  background: linear-gradient(270deg, #93CFFA, #ffffff, #C5E7FF);
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;
  height: 100%;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}